/* rainbow stripe */
.content::before {
    background: linear-gradient(
        90deg, 
        #fea3aa, #fea3aa, 
        #f8b88b, #f8b88b, 
        #faf884, #faf884,
        #baed91,
        #b2cefe, #b2cefe, 
        #f2a2e8, #f2a2e8,
        #fea3aa
    );
    /*background-size: 110vw 4px;
    background-repeat: repeat-x;*/
    -webkit-animation: horiGradientAnim 15s ease infinite;
    -moz-animation: horiGradientAnim 15s ease infinite;
    animation: horiGradientAnim 15s ease infinite;
    
    border-radius:2px;
    content:'';
    display:block;
    height:4px;
}
@-webkit-keyframes horiGradientAnim {
    0%{background-position:0px 0}
    50%{background-position:2048px 0}
    100%{background-position:0px 0}
}
@-moz-keyframes horiGradientAnim {
    0%{background-position:0px 0}
    50%{background-position:2048px 0}
    100%{background-position:0px 0}
}
@keyframes horiGradientAnim {
    0%{background-position:0px 0}
    50%{background-position:2048px 0}
    100%{background-position:0px 0}
}